<!DOCTYPE html>
<html lang="pt-BR">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="/css/style.css">
  <link rel="stylesheet" href="/css/artigo.css">
  <link rel="stylesheet" href="/css/header.css">
  <link rel="icon" type = " image / jpg " href="logo.jpeg">
  <title>Artigo</title>
</head>

  <body>
    <%- include('header'); %>

      <section class="containerCard" class="animation_in">
        <article class="card_content">

         <h4 class="tituloArtigo">
          <%= artigo.titulo %>
         </h4>

         <h2 class="nomeArtigo">
          by: <%= artigo.nome %>
         </h2>
        
         <h4 class="emailArtigo">
          email: <%= artigo.email %>
         </h4>

         <p class="publiArtigo">
          <%= artigo.publi %>
         </p>

         <div class="area__botao">
         
          <button class="botao__editar" type="submit"> 
          <a  action="/editar" method="POST" href="/editar/<%= artigo.id %>">
            Editar
          </a></button>

          <button class="botao__deletar" type="submit">
          <a  action="/deletar" method="DELETE" href="/deletar/<%= artigo.id %>">
            Deletar
          </a></button>

         </div>

        </article>
      </section>
  </body>
</html>