<!DOCTYPE html>
<html lang="pt-BR">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="/css/style.css">
  <link rel="stylesheet" href="/css/index.css">
  <link rel="stylesheet" href="/css/header.css">
  <link rel="icon" type = " image / jpg " href="logo.jpeg">
  <title>Editar</title>
</head>

<body>

  <%- include('header'); %>
  


    <section class="area__editar">

      <form action="/editar/<%= artigo.id %>" method="POST">

        <div>
           <label for="titulo">Altere o título</label>
           <input type="text" name="titulo" id="titulo" value="<%= artigo.titulo %>">
        </div>

        <div>
          <label for="nome">Altere seu nome</label>
          <input type="text" name="nome" id="nome" value="<%= artigo.nome %>">
        </div>

        <div>
          <label for="email">Altere o e-mail</label>
          <input type="text" name="email" id="email" value="<%= artigo.email %>">
        </div>

        <div>
          <label for="imagem">Altere a imagem</label>
          <input type="text" name="imagem" value="<%= artigo.imagem %>">
        </div>

        <div>
          <label for="publi">Altere o artigo</label>
          <input type="text" name="publi" id="publi" value="<%= artigo.publi %>">
        </div>

          <button type="submit">Editar</button>
      </form>

    </section>
   </body>
</html>